MQM 2019-2020  
Summer Term  
Duke University, The Fuqua School of Business  
**Data Infrastructure**  
Team C45

In [ ]:
# You will need to include this cell and the subsequent cell in any notebook in which you connect to the database 
# server.  
# These first two lines of code setup the connection to the database server.
import pymysql
pymysql.install_as_MySQLdb()
# This line loads the sql magic, allowing an individual line (or cell) to be interpreted as SQL code.
%reload_ext sql

In [ ]:
# This code lets you connect to the databases
%sql mysql://zl236:Ezo1bul3@mqm-db/

In [ ]:
%%sql
USE dognitiondb;

# Cleaning Tables for Duplicates

**Complete_Tests**

In [ ]:
%%sql

WITH complete_tests2 AS 
(
SELECT     DISTINCT *
FROM       complete_tests
)
SELECT     COUNT(*)
FROM       complete_tests2;

**Dogs**

In [ ]:
%%sql

WITH dogs2 AS
(
   SELECT   DISTINCT *
   FROM     dogs
)
SELECT      COUNT(*)
FROM        dogs2

**Site_Activities**

In [ ]:
%%sql

WITH site_activities2 AS
(
   SELECT   DISTINCT *
   FROM     site_activities
)
SELECT      COUNT(*)
FROM        site_activities2

**User**

In [ ]:
%%sql 

with users_clean as
(
WITH users2 AS 
   (
   SELECT    DISTINCT *
   FROM      users
   ),
dupusers AS
   (
   SELECT    user_guid
   FROM      users2
   GROUP BY  user_guid
   HAVING    COUNT(*) != 1
   )
SELECT       *
FROM         users2
WHERE        NOT(user_guid IN
   (
   SELECT    user_guid
   FROM      dupusers
   ) 
AND utc_correction = '#N/A')
)
SELECT       COUNT(*)
FROM         users_clean;

**Created 2 CTEs, one with all non-duplicate values, one with the 13 records that had '#N/A' values. Then we removed from the non-duplicate CTE all the rows that contained 13 problematic record user_id and '#N/A' values.**

**Reviews**

In [ ]:
%%sql

WITH reviews2 AS
(
   SELECT   DISTINCT *
   FROM     reviews
)
SELECT      COUNT(*)
FROM        reviews2

**Exam_Answers**

In [ ]:
%%sql

WITH exam_answers2 AS
   (
   SELECT   DISTINCT *
   FROM     reviews
   WHERE    dog_guid IS NOT NULL AND
            end_time IS NOT NULL
   )
SELECT      COUNT(*)
FROM        exam_answers2

## Relational Schema##

Our idea of finding primary keys was to identify a set of fields that together as a group could account for every single instance in the table. 

We began by intuitively exploring about what fields would be helpful in identifying an instance. For example, for the reviews table, we thought it made sense that a review should be identified by a user who mae it, the time it was made, and the test it was made on. 

Then we moved on to queries and trial and error. If the total count of the distinct values in these fields equals the count of total rows in the table, then it makes sense that these fields together are the primary key. Afterwards, we took out some fields in the composite key to test if it is necessary

**Example - Site_Activities**

In [ ]:
%%sql

WITH site_activities2 AS 
(
   SELECT   DISTINCT *
   FROM     site_activities
)
SELECT      COUNT(*)
FROM        site_activities2

**Cleaned table without duplicates**

In [ ]:
%%sql 

WITH site_activities2 AS 
(
 SELECT   DISTINCT description,
          user_guid,
          created_at
 FROM     site_activities
)
SELECT    COUNT(*)
FROM      site_activities2;

**Primary Key for Site_Activities after our process**.
**Found only 3 columns are necessary to uniquely identify every instance**

## TASK 2 ##

**We looked at the distinct values of every column in every table to see if there are any obvious mistakes like typos or NULL like values (I Don't Know/Other). Also looked at length of IDs to see if there are errors, as well as .... We did not include all NULL errors in the summary as there were too many and were not relevant**

**Dogs**

* 'I Don't Know','Other','Mix' values in breed column
*  dogs with 0 weight in weight column
*  NaN, #Values in median_iti_minutes column
*  One person has 1819 dogs 
*  333 occasions where created_at > updated_at

In [ ]:
%%sql 


WITH dogs2 AS
(
   SELECT   DISTINCT *
   FROM     dogs
)
SELECT      COUNT(*)
FROM        dogs2
WHERE     created_at > updated_at;

In [ ]:
%%sql


WITH dogs2 AS
(
   SELECT   DISTINCT *
   FROM     dogs
)
SELECT      COUNT(dog_guid),user_guid
FROM        dogs2
GROUP BY    user_guid
ORDER BY    COUNT(dog_guid) DESC
LIMIT       10;

**Reviews**

* We checked the distinct values for rating, and found that in this column there are 2461 records where rating has a null value. 
* Also, 10483 records have a rating of '0', however according to the dictionary, users can choose any number between 1 (not surprising) and 9 (very surprising). Therefore, a value of 0 is not expected to be found here and can be considered as another kind of null for any analytical purpose.

In [ ]:
%%sql

WITH reviews2
AS
(
SELECT     DISTINCT * 
FROM       reviews
)   
SELECT     DISTINCT(rating),
           COUNT(*)    
FROM       reviews2 
GROUP BY   rating
;

**Users**

* 2 sign_in_count with 4 digits sign-in count, which is in the 1000s abnormally high
* City names have a number of errors. Some names include 'test', some have N/A, slashes, commas in the names, some have several letters. 
* zip length contains periods, dashes, slashes, commas in it.

In [ ]:
%%sql

SELECT      city
FROM        users
WHERE       city LIKE '%/%' OR
            city LIKE '%,%' 
GROUP BY    city
ORDER BY    city 
LIMIT       100;

In [ ]:
%%sql
SELECT      zip
FROM        users
WHERE       zip LIKE '%/%' OR
            zip LIKE '%,%' OR
            zip LIKE '%.%' OR
            zip LIKE '%-%' OR
            zip LIKE 'N/A'
GROUP BY    zip
ORDER BY    zip
LIMIT       100;

**Exam_answers**

* 38745 instances where start_time < end_time
* 6224 entries where dog_guid is NULL

In [ ]:
%%sql

WITH exam_answers2
AS
(
SELECT   DISTINCT script_detail_id,
         start_time, end_time,
         loop_number,
         dog_guid
FROM     exam_answers
)
SELECT   COUNT(*)
FROM     exam_answers2
WHERE    end_time<start_time

**Complete_tests**

* user_guid is all NULL. I believe users should be recorded to indicate test completion.

In [ ]:
%%sql

WITH complete_tests2 AS 
(
SELECT     DISTINCT *
FROM       complete_tests
)
SELECT     COUNT(*)
FROM       complete_tests2
WHERE      user_guid IS NULL;

**Site_activities**

* 297163 NULL values for users
* category_id and membership_id all have NULL values.

In [ ]:
%%sql 

WITH site_activities2 AS
(
   SELECT   DISTINCT *
   FROM     site_activities
)
SELECT      COUNT(*)
FROM        site_activities2
WHERE       user_guid IS NULL;

## Task3

**a)**

We used the cleaned users table from task1. We then removed the memership types that had NULL values, and we tested and concluded that that user_guid, created_at, and membership_type can uniquely identify a single sign-up. 

We found that user_guid can uniquely identify each instance in our user sign-up analysis. Therefore, we assumed that every time a user bought a new membership, they would be given a new user_guid. If that is not the case, that would mean no repeat purchases by any user, and that would be a big problem. We are also assuming that users must choose a membership upon sign-up. 

We grouped the percentages by year and month to see if there was a drastic change in a membership being purchased during a month.

In [ ]:
%%sql

WITH users_clean
AS(
WITH users2
AS
(
SELECT   DISTINCT *
FROM     users
),
dupusers
AS
(
SELECT   user_guid
FROM     users2
GROUP BY user_guid
HAVING   COUNT(*)!=1
)
SELECT *
FROM     users2
WHERE    NOT (user_guid IN
(SELECT  user_guid
FROM     dupusers) AND
utc_correction = '#N/A') AND
membership_type IS NOT NULL
)
SELECT     YEAR(created_at) AS year,
           MONTH(created_at) AS month,
           COUNT(user_guid),
           SUM(membership_type=1)/COUNT(*) AS pec1,
           SUM(membership_type=2)/COUNT(*) AS pec2,
           SUM(membership_type=3)/COUNT(*) AS pec3,
           SUM(membership_type=4)/COUNT(*) AS pec4,
           SUM(membership_type=5)/COUNT(*) AS pec5
FROM       users_clean
GROUP BY   year,
           month;

**b)**

We wanted to separate membership sign-ups by year and month to see if there is a trend that as the company grew more people signed up. 

We counted the dog_guid in our cleaned complete_tests table as a proxy for the number of tests completed. 

Grouping the data by year and membership type, we found that Annual subscriptions has declined from 22,000 in 2013 to 11,000 in 2015. Monthly subscriptions went up from around 1,000 in 2013 to 3,200 in 2015, but compared with 36,000 users who took the initial 20 question assessment we can conclude that not a lot of first-time users are converting to paid subscription users.

In [ ]:
%%sql

WITH users_clean
AS(
    WITH users2
    AS
    (
    SELECT DISTINCT *
    FROM users
    ),
    dupusers
    AS
    (
    SELECT user_guid
    FROM users2
    GROUP BY user_guid
    HAVING COUNT(*)!=1
    )
    SELECT *
    FROM users2
    WHERE NOT (user_guid IN
    (SELECT user_guid
    FROM dupusers) AND
    utc_correction = '#N/A') AND
    membership_type IS NOT NULL
    ),
dogs2
AS
(
SELECT      DISTINCT *
FROM        dogs
),
complete_tests2
AS
(
SELECT      DISTINCT *
FROM        complete_tests)

SELECT      YEAR(users_clean.created_at) AS year,
            MONTH(users_clean.created_at) AS month,
            users_clean.membership_type,
            COUNT(complete_tests2.dog_guid)
FROM        dogs2
INNER JOIN  complete_tests2
ON          complete_tests2.dog_guid=dogs2.dog_guid
INNER JOIN  users_clean
ON          dogs2.user_guid=users_clean.user_guid
GROUP BY    year,
            month,
            users_clean.membership_type;

**c)**

In [ ]:
%%sql
WITH users_clean
AS(
    WITH users2
    AS
    (
    SELECT DISTINCT *
    FROM users
    ),
    dupusers
    AS
    (
    SELECT user_guid
    FROM users2
    GROUP BY user_guid
    HAVING COUNT(*)!=1
    )
    SELECT *
    FROM users2
    WHERE NOT (user_guid IN
    (SELECT user_guid
    FROM dupusers) AND
    utc_correction = '#N/A') AND
    membership_type IS NOT NULL
    ),
dogs2
AS
(
SELECT DISTINCT *
FROM dogs
),
complete_tests2
AS
(
SELECT DISTINCT *
FROM complete_tests)

SELECT  YEAR(users_clean.created_at) AS year,
        MONTH(users_clean.created_at) AS month,
        users_clean.membership_type,
        COUNT(complete_tests2.dog_guid)
FROM dogs2
INNER JOIN complete_tests2
ON    complete_tests2.dog_guid=dogs2.dog_guid
INNER JOIN users_clean
ON    dogs2.user_guid=users_clean.user_guid
GROUP BY    year,
            month,
            users_clean.membership_type
HAVING year=2015 AND (membership_type=5 OR membership_type=3);

* We wanted to find how many users that received a convertible membership(5) that turned into a monthly membership (3) the following month. What we have found is that there are likely very few users who made that conversion. Dognition first started offering this convertible membership in May 2015. The highest number was in June 2015, 411, but the number of member type 3 users in July decreased from 882 to 449. After that, memership type 5 users declined to 40 and 20.

* Based on this observation, we believe it is likely that the Dognition assessment is frustrating for users to complete, thus confirming our suspicion that free users are not converting to paid users.

In [ ]:
%%sql

WITH site_activities2 AS
(
   SELECT   DISTINCT *
   FROM     site_activities
)
SELECT distinct(script_detail_id), count(script_detail_id)
from site_activities2
group by script_detail_id
limit 10;

* This query shows that the 404 webpage had a 421031 count, over 80 times higher than the second highest webpage. 
* We are assuming that 404 here refers to the common HTTP 404 error, which would confirm the hypothesis that certain webpages are prone to issues and thus negatively impact the user experience.

In [ ]:
%%sql

WITH exam_answers2 AS
   (
   SELECT   DISTINCT *
   FROM     reviews
   WHERE    dog_guid IS NOT NULL AND
            end_time IS NOT NULL
   )
SELECT sum(loop_number!=0)/count(*) as perc_redo
FROM exam_answers2
;

* Test if asssessment/exam questions “loops” have made customers redo the exam 
* Approximately 25% of users had to redo their assessment initially. This likely indicates that the webpage has some inconveniences that have prevented users from continuing to use Dognition services.

In [ ]:
%%sql
WITH users_clean
AS(
    WITH users2
    AS
    (
    SELECT DISTINCT *
    FROM users
    ),
    dupusers
    AS
    (
    SELECT user_guid
    FROM users2
    GROUP BY user_guid
    HAVING COUNT(*)!=1
    )
    SELECT *
    FROM users2
    WHERE NOT (user_guid IN
    (SELECT user_guid
    FROM dupusers) AND
    utc_correction = '#N/A') AND
    membership_type IS NOT NULL
    ),
dogs2
AS
(
SELECT DISTINCT *
FROM dogs
),
complete_tests2
AS
(
SELECT DISTINCT *
FROM complete_tests)

SELECT  dogs2.breed_type,
        COUNT(complete_tests2.dog_guid) as test
FROM dogs2
INNER JOIN complete_tests2
ON    complete_tests2.dog_guid=dogs2.dog_guid
INNER JOIN users_clean
ON    dogs2.user_guid=users_clean.user_guid
GROUP BY dogs2.breed_type;

* The majority of test takers are those who own pure breed dogs. This group could be a potential target market for Dognition because pure breed dogs are generally more expensive and their owners are likely to want to take care of the dogs better and understand the dogs better.